
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Playfair Display'; */
}

header{

    background-image: url('front.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;;
    position: relative;
}
.navbar-toggler{
    color: white !important;
    z-index: 2;
}
.navbar{
    background-color:transparent;
}
.nav-item{
    font-family: 'Playfair Display';
    padding:1rem 1rem 1rem 1rem !important;
}
.nav-item a{
    color: white !important;
    font-size: 1.4rem !important;
   
}
form{
    margin-right: 1rem !important;
}
.img1{
    width:10rem;
    height:5rem;
}
.left{
    position: absolute;
    top:30%;
    left:5%;

   
}
.left h1{
    font-family: 'Playfair Display';
    font-size: 5rem;
    color: white;
    font-weight: 700;
}

.left h4{
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: white;
    font-weight: 600;
}
.left button{
background-color: black !important;
    border-radius: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;}
    /* .left-grid1{
        margin-top: 3rem;
    } */
.grid1-row{
    margin: 5rem 0rem 4rem 1rem;;
    font-family: "Poppins";
}
.grid1{
    font-family: 'Poppins', sans-serif;
}
.left-grid1 img{
    width:38rem;
    height: 45rem;
    border-radius: 20px;
}


.right-grid1 button{
    background-color: #333333 !important;
    border-radius: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;
}
.right-grid1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
padding: 1rem 0.5rem 1rem 0.5rem;;
font-weight: 600;
}
.right-grid1 p{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 1.3rem;
    color: #5c5959;
}
.experience{
    margin-top: 4rem;}

.grid2{
    /* margin: auto; */
    /* margin-left: 2rem; */
} 
.myCard {
    background: linear-gradient(129.65deg, rgba(255, 255, 255, 0.3) 0%, rgba(217, 217, 217, 0) 100%);
    box-shadow: inset 5px 5px 20px rgb(0 0 0 / 40%), inset 5px 5px 10px rgb(255 255 255 / 60%);
    backdrop-filter: blur(50.5px);
    border-radius: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.grid3{
    margin-top: 5rem;
}
.grid4{
    margin-top: 5rem;
}
.all-grids{
    padding:5rem 2rem 5rem 2rem;
}
.my-grids{
    margin-top: 5rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button h3{
    margin-top: 4rem;
}
.button button{
    box-shadow: 2px 4px 4px #333333 ;
    background-color: #333333 !important;
    border-radius: 50px;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border: none;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;

}
.google{
    margin: 2rem 2rem 2rem 2rem;
    background-color: #f3f3f3;
    border-radius: 10px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 2rem 2rem 2rem 2rem;
}
.google img{
    width:7rem;
    height:2rem
}
.right-google{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-google button{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    background-color: blue;;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;


}
.myrating{
    color: #f3c042;
}
.card-google {
    background-color: #f3f3f3;
    width: 100%;
    /* height: 270px; */
    border-radius: 10px;
    margin-bottom: 5px;
}
p.name {
    margin-top: -58px;
    padding-left: 90px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}
p.icon-color-1 {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 18px;
    margin-left: 22px;
}
span.d {
    /* padding-left: 10px; */
    font-size: 10px;
    color: gray;
}
.lorem {
   padding:0.5rem 1rem 0.5rem 1rem;
    line-height: 20px;
    font-weight: 400;
}
.so-space {
    margin-left: 25px;
    margin-top: 10px;
    line-height: 0px;
}
span.p {
    color: blue;
    padding-left: 55px;
}
.process-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-img img{
    padding: 2rem 2rem 2rem 2rem;

    width:80vw;
}
.latest-articles{
    margin: 1rem 2rem 1rem 2rem;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-all{
    float: right;
}
.article-img1 img{
    width:19rem;
    height:10rem;

}
.article-img1 h4{
    color:rgb(27, 132, 202);
    font-weight: 400;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
} 


.article-img1 p{
    font-size: 1.1rem;;
    
    margin: auto;

} 
.article-img1{
    height:18rem;
    width:19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    box-shadow: 2px 2px 4px rgb(202, 198, 198);
   margin:1rem 2rem 1rem 2rem;

}
.faq{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq h1{
    font-size: 2.8rem;

}
.accr{
    margin: 1rem 2rem 1rem 2rem !important;
} 
.accr-item1{
    margin-bottom: 2rem;;
    border-radius: 10px;
    
}
.black-btn{
   /* display: flex;
   justify-content: flex-end;
   align-items: flex-end; */
   float:right;

}
.black-btn img{
    transition: 0.3s all ease-in-out;
  
}
.black-btn img:hover{
    transform: rotate(90deg);

}
.accordion-button:after {
    content: none;
 }
 .accr-btn{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 .profile-btn button{
    background-color: black !important;
    border-radius: 20px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;

 }
 .followers{
    margin-top: 4rem;;
    border:1px solid black;
   
 }
 .followers2{
    margin-top: 1rem;;
    border:1px solid black;
    
 }
 .followers-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
 }
 .followers-text h4{
    font-size: 1rem;
    font-weight: 500;
 }
 .followers-text h5{
    font-size: 1rem;
    font-weight: 400;
 }
 .followers-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem 2rem 2rem;
   
   
 }
 .click-1 {
    background: url('p1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.click-2 {
    background: url('img33.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.click-3 {
    background: url('img66.png');
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 40vh;
    margin-left: 4px;
}
.click-4 {
    background: linear-gradient(rgba(8, 8, 8, 0.6), rgba(8, 8, 8, 0.6)), url('img77.png');
    background-position: center;
    background-size: cover;
    width: 98%;
    margin-left: 4px;
    height: 40vh;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.location{
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.direction-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.direction-btn button{
    box-shadow: 2px 4px 4px #333333;
    background-color: #333333 !important;
    border-radius: 50px;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border: none;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;
}

footer{
    padding:2rem 2rem 0.5rem 2rem ;
    margin-top: 5rem;
    background-color: #37383E;
}
/* .costum-input input{
    border-radius: 20px !important;
} */
input[type="text"] {
    /* width: 200px;
    height: 20px;
    padding-right: 50px; */
    /* height:50% !important; */
    border-radius: 20px !important;
    position: relative;
    padding:0.6rem 0.5rem 0.6rem 0.5rem;
}

.costum-input button{
    /* margin-left: -50px;
    height: 20px;
    width: 50px;
     */
     position: absolute;
     /* top:5%;
     bottom:5%; */
     right:17%;
    margin:auto;
     border-radius: 40px !important;
     background-color: black !important;
     color: white !important;
     font-size: 0.7rem;
     padding:0.5rem 2rem 0.5rem 2rem;
}
.row2-col1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
/* .row2-col2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
.heading h3{
    color:white;
    font-size: 1.5rem;
    /* margin-top: 3rem; */

}
.heading {
    margin-bottom: 2rem;
}
/* .quick{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
} */
/* 
.quick{
    margin-top: 3rem;
} */
.li h4{
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
}
hr{
    color:rgb(175, 170, 170);
}
.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}
.line2 {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

.social img{
    padding:0rem 1rem 0rem 0rem;
   width:3rem;
   height:2rem;

}
.line{
    margin:0;
}
.last-foot-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;;
}
.last-foot-part p{
    color: white;

}

/* 
.first-cl{
    background-color: black;
}
.second_cl{
    background-color: blueviolet;
} */
.cl{
    /* margin-top: 5rem; */
    border:1px solid gray;
    border-radius: 9px;
    /* margin: auto; */
    padding: 0rem 1.5rem 0rem 1.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width:40vw; */
    /* margin-left: 1rem; */
    margin: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height:10rem; */

   
}
.cl2{
    /* margin-top: 5rem; */
    border:1px solid gray;
    border-radius: 9px;
    /* margin: auto; */
    padding: 0rem 0rem 0rem 0rem;
    /* height: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width:40vw; */
    /* margin-left: 1rem; */
    margin: 2rem 2rem 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    height:5rem;
   
}
.t{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
.bold{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
   
}
.fb img{
    width:3rem;
    height:3rem;
}
.tp{
    font-size: 0.7rem;
    color: rgb(131, 129, 129);}
/* 
.img{
    display: flex;
    justify-content: flex-end;
} */
.img img{
    width:5rem;
    height:5rem;
}
.cl2 img{
    margin: auto;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    padding:0.5rem 3.5rem 0.5rem 3.5rem;
    background-color: #0095F6;
    border-radius: 20px;
    outline: none;
    border: none;
   font-size: 0.7rem;
    color: white;}
  
/* }
.row-box{
    padding-left: 1rem;
} */
.fb{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.more-text p{
    /* margin: auto; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;

}
.more-text a{
    color: blue;
}
.row2{
    margin-top: 2rem;
}
.row2 h2{
    color:white;
    font-size: 2rem;
}
.row2 p{
    color:white;
}
.row3{
    margin-top: 1.5rem;
}
.row2-col1 img{
    width:2rem;
    height:2rem;

}

@media(max-width:400px){
  
    .navbar{
        background-color:black;
        z-index: 3;
    }
    .img2{
        width:5rem;
        height:5rem;

    }
    .img3{
        width:5rem;
        height:5rem;

    }
    .left-grid1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-grid1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.button button {
    padding: 0.4rem 2rem 0.4rem 2rem;
    background-color: #0095F6;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 0.5rem;
    color: white;
}
.tp {
    font-size: 0.4rem;
    color: rgb(131, 129, 129);
}
.bold {
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 0;
}
.img img{
    width:4rem;
    height:4rem;
}
.grid-row{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.left-nav img{
    width:15rem;
    height:10rem;
}
.group27{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row1 img{
    width:8rem;
    height:4rem;
}
.costum-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.line {
    /* width: 33px; */
    background-color: white;
    /* height: 4px; */
    margin: 5px 5px;
}
.costum-input button {
    position: absolute;
    right: 30%;
    margin: auto;
    border-radius: 40px !important;
    background-color: black !important;
    color: white !important;
    font-size: 0.7rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.row2-col1 {
    display: flex;
    justify-content: space-evenly;


}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
.newsletter{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
/* .about-heading h1 {
    color: white;
    font-size: 4rem;
    z-index: -1;
} */
.z-index{
    z-index: -1;

}
.myCard {
    background: linear-gradient(129.65deg, rgba(255, 255, 255, 0.3) 0%, rgba(217, 217, 217, 0) 100%);
    box-shadow: inset 5px 5px 20px rgb(0 0 0 / 40%), inset 5px 5px 10px rgb(255 255 255 / 60%);
    backdrop-filter: blur(50.5px);
    border-radius: 10px;
    padding-top: 2rem;
    padding-left:2rem;
    padding-bottom: 2rem;
}

.card-google {
    background-color: #f3f3f3;
    /* width: 80%; */
    /* height: 270px; */
    border-radius: 10px;
    margin-bottom: 5px;
}
.google-row{
    padding: 2rem;

}
p.name {
    margin-top: -40px;
    padding-left: 90px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}
.so-space{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .article-row1{
    margin: auto;
} */
.article-row1{
    margin: auto;
}
.article-img1 img {
   width:35rem;
   height:15rem;

    
}
.articles-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article-img1 p {
    font-size: 1.5rem;
    margin: 0rem;
}
.article-img1 span {
    font-size: 1.3rem;
    
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
  .navbar-toggler-icon{
    background-color:white;
  }
  button.navbar-toggler.menu.collapsed{
    color: white;;
  }
.article-img1 {
    /* height: 18rem; */
    width: 38rem;
    height:25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgb(202 198 198);
    margin: 1rem 2rem 1rem 2rem;
}
.articles-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articles-container{
 
}
.followers img{
    width:5rem;
    height: 5rem;;
}

.followers2 img{
    width:5rem;
    height: 5rem;;

}
.followers-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boothimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-image: url(front.png);
    background-size: cover;
    background-position: center;
    height: 125vh;
    position: relative;
}
.followers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width:50%;
    padding:2rem 2rem 2rem 2rem;
}
.followers2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width:50%;
    padding:2rem 2rem 2rem 2rem;
}
.button button {
    padding: 1.4rem 2rem 1.4rem 2rem;
    background-color: #0095F6;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: white;
}
}
@media(max-width:998px){
    html{
       font-size: 55%;
    }
}

@media(max-width:500px) and (min-width:400px){
    html{
        font-size: 35%;
     }
}
